<div class="main-container">
    <div class="nav">
        <div class="nav-item nav-name" ui-sref="portfolio"><p>seth<span class="david">david</span> sutherland</p></div>
        <div class="nav-item nav-hover" ui-sref="portfolio"><p>portfolio</p></div>
        <div class="nav-item nav-hover" ui-sref="about"><p>about</p></div>
    </div>

    <div class="next-project" ui-sref="project({id: project.next})">next</div>
    <div class="previous-project" ui-sref="project({id: project.prev})">previous</div>

    <div class="project-container">

        <div class="project-heading">
            <p>{{project.name}}</p>
            <div class="project-heading-desc">{{project.description}}</div>
        </div>


        <div class="project-tech">
            <div class="project-tech-info" ng-repeat="tech in project.tech">{{tech}}</div>

            <p class="more-info" ng-click="showInfo()">more info</p>
            <a href="{{project.link}}"><p class="visit-site" ui-sref="{{project.uilink}}">visit site</p></a>
        </div>

        <div class="project-star">
            <div class="project-star-info">{{project.situation}}</div>
            <div class="project-star-info">{{project.task}}</div>
            <div class="project-star-info">{{project.action}}</div>
            <div class="project-star-info">{{project.result}}</div>
        </div>

        <div class="project-screenshots">
            <p class="screenshots-heading">screenshots</p>
            <img class="project-img" src="{{img.path}}" ng-repeat="img in project.images">
        </div>

    </div>


    <div class="footer">
        <div class="footer-item"><p>SethDS</p></div>
    </div>
</div>

